/* color scheme
#426e82
#18171a
#a3a0a1 
#f7f9fc*/
/*----------------------------------------------------------------------------- MAIN  */
*{
  box-sizing: border-box;
}
body{
  background-color: #c3c0c1;
}
.App {
  text-align: center;
  position: relative;
}
.header {
  background-color: #426e82;
  height: 5.5vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
  padding-top: 10px;
  font-size: 45px;
  color: #c3c0c1;
  overflow: hidden;
}
.footer{
  height: 5vh;
  width: 70.123vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background-color: #426e82;
  position: fixed;
  color: white;
  bottom: 0;
}


/* -----------------------------------------------------------------------------Set-List */
.set-list-container{
  height: 85vh;
  width: 65vw;
  position: fixed;
  left: 2.5vw;
  bottom: 5.3vh;
  display: flex;
  padding: 0%;
  flex-direction: column;
  align-items: left;
  background-color:#f7f9fc;
  margin:0,auto;
  overflow:scroll;
  box-shadow: 0px 0px 15px black;
}
.set-list-title{
  width: 10vw;
  text-align: left;
  padding-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #c3c0c1;
  margin-left: 10px;
  margin-top: 10px;
}
a:hover{
  color: #426e42;
}
li{
  width: 60.6vw;
  display: flex;
  font-size: large;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-justify: left;
}
.list-title{
  width: 400px;
  text-align: left;
}
.small-items{
  font-weight: 100;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.list-small-item{
  width: 50px;
}
.remove-button-div{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-items: right;
}
.remove-button{
  height: 33px;
  width: 33px;
  margin-left: 50px;
}
a{
  color: #282c34;
  text-decoration: none;
}
#notes-input{
  width: 300px;
  height: 30px;
  overflow: scroll;
}
#notes-input:focus{
  background-color: #c3c0c1;
}

/*----------------------------------------------------------------------------- SongList */
.songList-container{
  height: 79vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  overflow: scroll;
  border-left: 2px solid #282c34;
  background-color: #f7f9fc;
}
.title-container{
  height: 5.5vh;
  width: 30vw;
  background-color: #c3c0c1;
  color:#f7f9fc;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px solid #282c34;
}
.song-list-title{
  font-size: 1.5em;
}

.song-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid #282c34;
}
.container-div{
  height: 100px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-key-containers{
  width: 50px;

}
.name-title-div{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}
.name-title-div:hover{
  color: #426e82;
  cursor: pointer;
}
.name-title-div:active{
  columns: #a3a0a1;;
}
.song-title{
  font-size: 1.5em;
  margin-bottom: 0%;
}
.artist-name{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
}

.add-to-playlist{
  height: 33px;
  width: 33px;
}
.add-to-playlist:hover{
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.song-delete-button{
  height: 30px;
  width: 30px;
}
.song-delete-button:hover{
 background: rgb(255, 0, 0);
 border-radius: 50%;
 cursor: pointer;
}



/*----------------------------------------------------------------------------- ADD NEW SONG */
.input-box{
  height: 16.8vh;
  width: 30vw;
  position: fixed;
  bottom: 0%;
  right: .001%;
  background-color: #a3a0a1;
  border-top: 2px solid #282c34;
  border-left: 2.5px solid #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #f7f9fc;
}
.add-song{
  margin-top: 0%;
  margin-bottom: 0%;
}
.title-artist-input-container{
 display: flex;
justify-content: center;
 margin-top: 0%;
}
input{
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #f7f9fc;
}
#title-input{
  margin-right: 5px;
}
#time-input{
  margin-right: 5px;
}
.url-input{
  width: 52.7%;
}
.add-update-button{
  width: 100px;
  background: none;
  border: none;
  outline: none;
}


