/* color scheme
#426e82
#18171a
#a3a0a1 
#f7f9fc*/
@media screen{
/*----------------------------------------------------------------------------- MAIN  */
*{
  box-sizing: border-box;
}
body{
  background-color: #c3c0c1;
}
.App {
  text-align: center;
  position: relative;
}
.header {
  background-color: #426e82;
  height: 5.5vh;
  width: 670vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
  padding-top: 10px;
  font-size: 45px;
  color: #c3c0c1;
  overflow: hidden;
  text-shadow: 3px -3px 10px black;
}
#header-text{
  margin-top: 70px;
}
.footer{
  height: 5vh;
  width: 70.123vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  color: white;
  bottom: 0;
}
.printer-container{
  width: 25%;
}
.share-container{
  width: 25%;
}
#footer-text-1{
  height: 50px;
  width: 50px;
  margin-right: 10px;
 text-shadow: 0px 0px 5px black;
}
#footer-text-1:hover{
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#footer-text-2{
  margin-left: 30px;
  height: 50px;
  width: 50px;
}
#footer-text-2:hover{
  height: 55px;
  width: 55px;
}


/* -----------------------------------------------------------------------------Set-List */
.set-list-container{
  height: 83vh;
  width: 65vw;
  position: fixed;
  left: 2.5vw;
  bottom: 6.5vh;
  display: flex;
  padding: 0%;
  flex-direction: column;
  align-items: left;
  background-color:#f7f9fc;
  margin:0,auto;
  overflow:scroll;
  box-shadow: 0px 3px 10px black;
}
.list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.set-list-title{
  width: 10vw;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.clear-list-button{
  height: 3em;
  margin: 15px;
  border: 0;
  border-radius: 0.25rem;
  background: #426e82;
  color: white;
  font-family:inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.clear-list-button:hover{
  background:#4b7f97;
  box-shadow: 0px 0px 3px black;
}
a:hover{
  color: #426e42;
}
li{
  width: 67vw;
  display: flex;
  font-size: large;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-justify: left;
}
.list-title{
  width: 400px;
  text-align: left;
}
.small-items{
  font-weight: 100;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.list-small-item{
  width: 50px;
}
.remove-button-div{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-items: right;
}
.remove-button{
  height: 33px;
  width: 33px;
  margin-left: 50px;
}
.remove-button:hover{
  height: 35px;
  width: 35px;
  filter: saturate(100%);
}
a{
  color: #282c34;
  text-decoration: none;
}
#notes-input{
  width: 300px;
  height: 30px;
  overflow: scroll;
 border-radius: 25px;
}
#notes-input:focus{
  background-color: #dadada;
}

/*----------------------------------------------------------------------------- SongList */
.songList-container{
  height: 77.8vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  overflow: scroll;
  border-left: 2px solid #282c34;
  background-color: #f7f9fc;
}
.title-container{
  height: 5.7vh;
  width: 30vw;
  background-color: #c3c0c1;
  color: #426e82;;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px solid #282c34;
  border-bottom: 2px solid  #282c34 ;
  text-align: left;
  padding: 0;
}
.song-list-title{
  font-size: 1.8em;
  margin-left: 10px;
  position: fixed;
  margin-top: 7px;
}

.song-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid #282c34;
}
.container-div{
  height: 100px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-key-containers{
  width: 50px;

}
.name-title-div{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}
.name-title-div:hover{
  color: #426e82;
  cursor: pointer;
}
.name-title-div:active{
  columns: #a3a0a1;;
}
.song-title{
  font-size: 1.5em;
  margin-bottom: 0%;
}
.artist-name{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
}

.add-to-playlist{
  height: 33px;
  width: 33px;
}
.add-to-playlist:hover{
  height: 36px;
  width: 36px;
  cursor: pointer;
}
.song-delete-button{
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
}
.song-delete-button:hover{
 transform: rotate(90deg);
 cursor: pointer;
}



/*----------------------------------------------------------------------------- ADD NEW SONG */
.input-box{
  height: 16.8vh;
  width: 30vw;
  position: fixed;
  bottom: 0%;
  right: .001%;
  background-color: #c3c0c1;
  border-top: 2px solid #282c34;
  border-left: 2.5px solid #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #426e82;
}
.add-song{
  margin-top: 0%;
  margin-bottom: 0%;
}
.title-artist-input-container{
 display: flex;
justify-content: center;
 margin-top: 0%;
}
input{
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #f7f9fc;
}
#title-input{
  margin-right: 5px;
}
#time-input{
  margin-right: 5px;
}
.url-input{
  width: 52.7%;
}
.add-update-button{
  width: 100px;
  background: none;
  border: none;
  outline: none;
  color: #426e82;
  font-weight: bold;
}
.add-update-button:hover{
  color: #4b7f97;
  cursor: pointer;
}
}

@page{
  margin: 0.5cm;
}

@media print{
  header, footer, .songList-container, .add-song, .song-list-title, #header-text, #footer-text-1, #footer-text-2, .title-container, .remove-button, .remove-button-div,.clear-list-button{
    display: none;
    background: transparent;
  }
  .set-list-title{
    page-break-before: always;
  }
  .set-list-container{
    width:21.59cm;
    height: 27.94cm;
    box-shadow: none;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    padding: none;
  }
  .list-title{
    width: 50%;
    text-align: left;
  }
  .small-items{
    font-weight: 100;
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
  li{
    display: flex;
    justify-content: space-evenly;
    align-content: left;
    orphans: 3;
    width: 100;
    margin: 0;
  }
  input{
    border:none;
    outline:none;
    background-color: nonne;
  }
  ::-webkit-input-placeholder{
    color: transparent
  }
  :-moz-placeholder{
    color: transparent;
  }
  ::-moz-placeholder{
    color: transparent;
  }
  :-ms-input-placeholder{
    color: transparent;
  }
  a{
    color: black;
    text-decoration: none;
  }
}