/* color scheme
#426e82
#18171a
#a3a0a1 
#f7f9fc*/
@media screen{
/*----------------------------------------------------------------------------- MAIN  */
*{
  box-sizing: border-box;
}
body{
  background-color: black;
}

::-webkit-scrollbar{
width: 20px;

}

::-webkit-scrollbar-track{
  background-color: #1c1c1c;
}

::-webkit-scrollbar-thumb{
  border: 1px solid rgb(46, 46, 46);
  background-color: #e9c80cda;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:active{
  background-color:#e9c80c ;
}
.App {
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header {
  height: 7vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color:#e9c80c;
  
}
#header-text{
  margin-left: 100px;
  margin-top: 8vh;
}

.footer{
  height: 5vh;
  width: 70.123vw;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  color: white;
  bottom: 0;
}
.printer-container{
  width: 25%;
}
.share-container{
  width: 25%;
}
#footer-text-1{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  filter: invert(1);
}
#footer-text-1:hover{
  height: 55px;
  width: 55px;
  cursor: pointer;
}
#footer-text-2{
  margin-left: 30px;
  height: 50px;
  width: 50px;
  filter: invert(1);
}
#footer-text-2:hover{
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.display-container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
/* .message-button{
  position: fixed;
  right: 100px;
  top: 45vh;
  color: white;
} */

/* -----------------------------------------------------------------------------Set-List */
.set-list-container{
  height: 83vh;
  width: 65vw;
  position: fixed;
  left: 2.5vw;
  bottom: 6.5vh;
  display: flex;
  padding: 0%;
  flex-direction: column;
  align-items: left;
  background-color:#e4e4e4;
  margin:0,auto;
  overflow-x:hidden;
  overflow-y: scroll;
  border: 2px solid #686868 ;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.set-list-title{
  width: 10vw;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
#empty-set-list-message{
  margin-top: 33vh;
  font-style: italic;
  color: #426e82b2;
  font-weight: 300;
  font-family: inherit;
  font-size: 20px;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
.clear-list-button{
  height: 3em;
  margin: 10px;
  border: 0;
  border-radius: 0.25rem;
  background: #426e82;
  color: white;
  font-family:inherit;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.clear-list-button:hover{
  background:#4b7f97;
  box-shadow: 0px 0px 3px black;
}
a:hover{
  color: #426e82;
}
li{
  width: 67vw;
  display: flex;
  font-size: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-justify: left;
}
.list-title{
  width: 400px;
  text-align: left;
}
.small-items{
  font-weight: 100;
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.list-small-item{
  width: 50px;
}
.remove-button-div{
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-items: right;
}
.remove-button{
  height: 33px;
  width: 33px;
  margin-left: 30px;
}
.remove-button:hover{
  height: 35px;
  width: 35px;
  filter: saturate(100%);
  cursor: pointer;
}
a{
  color: #282c34;
  text-decoration: none;
}
.notes-input{
  width: 300px;
  height: 30px;
  overflow: scroll;
 border-radius: 25px;
 background-color: transparent;
}
.notes-input:focus{
  background-color: #dadada;
}

/*----------------------------------------------------------------------------- SongList */
.songList-container{
  padding-top: 11.5vh;
  height: 100%;
  width: 30vw;
  position: absolute;
  bottom: 4.7vh;
  right: 0;
  overflow: scroll;
  border-left: 2px solid #494949;
  background-color: #1c1c1c;
  display: block;
  /* transform: translate(30vw,0); */
}

.song-list-title{
  margin-top: -10px;
  padding-top: 20px;
  height: 80px;
  width: 28.9vw;
  position: fixed;
  top: 0;
  color: white;
  background-color: #1c1c1c;
  z-index: 1
  ;
}

.song-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-top: 2px solid #494949;
  background-color: black;
  color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.container-div{
  height: 100px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time-key-containers{
  width: 50px;

}
.name-title-div{
  width: 220px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
}
.song-title:hover{
  color: #32afc0;
  cursor: pointer;
}

.song-title{
  font-size: 1.5em;
  margin-bottom: 0%;
  color: #e9c80c;
}
.artist-name{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
  color: white;
}

.add-to-playlist{
  height: 40px;
  width: 40px;
  /* background-color: white; */
  border-radius: 50%;
  filter: invert(1);
}
.add-to-playlist:hover{
  filter: invert(.5);
  cursor: pointer;
}
.song-delete-button{
  height: 30px;
  width: 30px;
  filter: invert(1);
}
.song-delete-button:hover{
 filter: invert(.5);
 cursor: pointer;
}



/*----------------------------------------------------------------------------- ADD NEW SONG */
#input-box{
  height: 20vh;
  width: 30vw;
  position: fixed;
  bottom: 0%;
  right: 0%;
  background-color: #1c1c1c;
  border-top: 2px solid #282c34;
  border-left: 2.5px solid #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #585858;
  padding: 0;
  transition: transform 1s;
}
#input-box.hide{
  transform: translate(0,13.7vh);
}
#input-box.show{
  color: white;
  border: 1px solid #e9c80c;
}

.add-song{ 
  margin-top: -20px;
  margin-bottom: -20px;
  display: flex;
  justify-content: center;
  font-size: 1em;
}
#plus-exit.show{
  transform: rotate(45deg);
  transition: transform 1s;
}
#plus-exit.hide{
  transition: transform 1s;
}
#input-box.hide > .add-song:hover{
  color: #909090;
  cursor: pointer;
}
#input-box.show > .add-song:hover {
  color: #909090;
  cursor: pointer;
}
.update-song{
  margin-top: 0%;
  margin-bottom: 0%;
}
.title-artist-input-container{
 display: flex;
justify-content: center;
 margin-top: 0%;
}
input{
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #e9c80c;
}
#title-input{
  margin-right: 5px;
}
#time-input{
  margin-right: 5px;
}
.url-input{
  width: 52.7%;
}
.add-update-button{
  width: 100px;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.add-update-button:hover{
  color: #e9c80c;
  cursor: pointer;
}
}

@page{
  margin: 0.5cm;
}

@media print{
  header, footer, .songList-container, .add-song, .song-list-title, #header-text, #footer-text-1, #footer-text-2, .title-container, .remove-button, .remove-button-div,.clear-list-button{
    display: none;
    background: transparent;
  }
  .set-list-title{
    page-break-before: always;
  }
  .set-list-container{
    width:21.59cm;
    height: 27.94cm;
    box-shadow: none;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    padding: none;
  }
  .list-title{
    width: 25%;
    text-align: left;
  }
  .small-items{
    font-weight: 100;
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
  li{
    display: flex;
    justify-content: space-evenly;
    align-content: left;
    orphans: 3;
    width: 100;
    margin: 0;
  }
  input{
    border:none;
    outline:none;
    background-color: nonne;
  }
  ::-webkit-input-placeholder{
    color: transparent
  }
  :-moz-placeholder{
    color: transparent;
  }
  ::-moz-placeholder{
    color: transparent;
  }
  :-ms-input-placeholder{
    color: transparent;
  }
  a{
    color: black;
    text-decoration: none;
  }
}